<h3 class="box-heading">{{ text_extra }}</h3>
<ul class="list-unstyled" data-match-height="items-f">
	<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
	<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
	<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
	<li><a href="{{ special }}">{{ text_special }}</a></li>
</ul>