<h3 class="box-heading">{{ text_more }}</h3>
<ul class="box-content list-unstyled" data-match-height="items-f">
	<li><a href="{{ store }}">{{ text_store }}</a></li>
	<li><a href="{{ gift_cards }}">{{ text_gift_cards }}</a></li>
	<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
</ul>